In [337]:
import pandas as pd

data = pd.read_csv("train.csv",encoding="latin-1")

In [338]:

from string import printable
import re

In [339]:
from nltk.corpus import stopwords
import string
punctuation = string.punctuation
stopwords = stopwords.words("english")
from nltk.stem.wordnet import WordNetLemmatizer

lem = WordNetLemmatizer()

def _clean(text):
    text = text.lower()
    text = re.sub(r"amp", "", text)
    text = re.sub(r"#\w+","",text)
    text = re.sub(r"@\w+","",text)
    text = "".join(x for x in text if x not in punctuation)
    
    words = text.split()
    #words = [" " if w.startswith("@") else w for w in words ]
    #words = [w for w in words if w != "user" ]
    #words = [w for w in words if w != "amp" ]
    
    words = [w for w in words if w not in stopwords]
    words = [lem.lemmatize(word,"v") for word in words]
    words = [lem.lemmatize(word,"n") for word in words]
    words = [w for w in words if len(w) >2]
    
    
    
    text = " ".join(words)
    return text

def remove_non_ascii(text):
    L = [32, 44, 46, 65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,97,98,99,100,101,102,103, 104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122]
    text = str(text)

    return ''.join(i for i in text if ord(i) in L)

pos_dic={"noun":["NNP","NN","NNS","NNPS"],"verb":["VBZ","VB","VBD","VBN","VBG"]}

import nltk

def pos_check(text,family):
    tags = nltk.pos_tag(nltk.word_tokenize(text))
    count=0
    
    for tag in tags:
        tag = tag[1]
        if tag in pos_dic[family]:
            count+=1
    return count


data["cleaned_text"] = data["tweet"].apply(_clean)
data["cleaned_text"] = data["cleaned_text"].apply(remove_non_ascii)
data["noun_count"] = data["cleaned_text"].apply(lambda x : pos_check(x,"noun"))
data["verb_count"] = data["cleaned_text"].apply(lambda x : pos_check(x,"verb"))

In [340]:
data["label"].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [341]:
from collections import Counter

complete_text = " ".join(data["cleaned_text"])
words = complete_text.split()
Counter(words).most_common(50)

[('day', 2508),
 ('get', 1783),
 ('happy', 1576),
 ('love', 1413),
 ('time', 1195),
 ('make', 1183),
 ('like', 1016),
 ('today', 1013),
 ('see', 933),
 ('new', 921),
 ('one', 829),
 ('people', 823),
 ('cant', 812),
 ('take', 802),
 ('good', 795),
 ('want', 770),
 ('dont', 729),
 ('life', 728),
 ('come', 728),
 ('father', 719),
 ('look', 707),
 ('feel', 693),
 ('need', 648),
 ('wait', 638),
 ('work', 631),
 ('think', 593),
 ('bihday', 584),
 ('thank', 574),
 ('week', 567),
 ('way', 556),
 ('say', 554),
 ('know', 553),
 ('find', 550),
 ('bull', 506),
 ('year', 505),
 ('great', 484),
 ('live', 476),
 ('thing', 474),
 ('best', 473),
 ('first', 471),
 ('really', 462),
 ('thankful', 456),
 ('back', 452),
 ('tomorrow', 435),
 ('watch', 434),
 ('even', 412),
 ('never', 408),
 ('morning', 396),
 ('friend', 396),
 ('world', 391)]

In [342]:
from textblob import TextBlob

# for text in data["cleaned_text"][:1]:
#     print(TextBlob("bihday majesty").sentiment[0])
# print(data["cleaned_text"][:1])
data["text_polarity"] = data["cleaned_text"].apply(lambda x :  0 if (TextBlob(x).sentiment[0])>=0 else 1)
data.head()

,id,label,tweet,cleaned_text,noun_count,verb_count,text_polarity
0,1,0,@user when a father is dysfunctional and is s...,father dysfunctional selfish drag kid dysfunction,3,0,1
1,2,0,@user @user thanks for #lyft credit i can't us...,thank credit cant use cause dont offer wheelch...,9,0,0
2,3,0,bihday your majesty,bihday majesty,2,0,0
3,4,0,#model i love u take with u all the time in ...,love take time ur,2,1,0
4,5,0,factsguide: society now #motivation,factsguide society,1,0,0

In [343]:
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer

word_tfidf = TfidfVectorizer(max_features=2000)
word_tfidf.fit(data["cleaned_text"].values)


#cvz = CountVectorizer()
#cvz.fit(data["cleaned_text"].values)

#word_vectors_tfidf = cvz.transform(data["cleaned_text"].values)

word_vectors_tfidf = word_tfidf.transform(data["cleaned_text"].values)

In [344]:
# ngram_tfidf = TfidfVectorizer(ngram_range=(1,2))
# ngram_tfidf.fit(data["cleaned_text"].values)

# ngram_tfidf = ngram_tfidf.transform(data["cleaned_text"].values)

In [345]:
from scipy.sparse import hstack, csr_matrix

meta_features = ['text_polarity','noun_count','verb_count']

feature_set1 = data[meta_features]

#train = hstack([word_vectors_tfidf],"csr")
train = hstack([word_vectors_tfidf,csr_matrix(feature_set1)],"csr")
train

<31962x2003 sparse matrix of type '<class 'numpy.float64'>'
	with 172682 stored elements in Compressed Sparse Row format>

In [346]:
target = data["label"].values

In [347]:
target

array([0, 0, 0, ..., 0, 1, 0])

In [348]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(train, target)

In [349]:
train_x.shape

(23971, 2002)

In [350]:
val_x.shape

(7991, 2002)

In [351]:
from sklearn import naive_bayes
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn import ensemble
from sklearn.metrics import accuracy_score,f1_score,confusion_matrix

In [352]:
# model = naive_bayes.MultinomialNB()
# model.fit(train_x,train_y)
# preds = model.predict(val_x)
# print(accuracy_score(preds,val_y))
# print(f1_score(val_y, preds, average="macro"))
# CM = confusion_matrix(val_y, preds)
# TN = CM[0][0]
# print(TN)
# FN = CM[1][0]
# print(FN)
# TP = CM[1][1]
# print(TP)
# FP = CM[0][1]
# print(FP)

In [353]:
# model = LogisticRegression()
# model.fit(train_x,train_y)
# preds = model.predict(val_x)
# print(accuracy_score(preds,val_y))
# print(f1_score(val_y, preds, average="macro"))
# CM = confusion_matrix(val_y, preds)
# TN = CM[0][0]
# print(TN)
# FN = CM[1][0]
# print(FN)
# TP = CM[1][1]
# print(TP)
# FP = CM[0][1]
# print(FP)

In [354]:
model = ensemble.ExtraTreesClassifier()
model.fit(train_x,train_y)
preds = model.predict(val_x)
print(accuracy_score(preds,val_y))
print(f1_score(val_y, preds, average="macro"))
CM = confusion_matrix(val_y, preds)
TN = CM[0][0]
print(TN)
FN = CM[1][0]
print(FN)
TP = CM[1][1]
print(TP)
FP = CM[0][1]
print(FP)

In [355]:
# model = ensemble.ExtraTreesClassifier()
# model.fit(train,target)

/Users/suryavikram/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
                     max_depth=None, max_features='auto', max_leaf_nodes=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
                     oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [356]:
testdata = pd.read_csv("test.csv",encoding="latin-1")

In [357]:
testdata.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [358]:
testdata["cleaned_text"] = testdata["tweet"].apply(_clean)
testdata["cleaned_text"] = testdata["cleaned_text"].apply(remove_non_ascii)
testdata["text_polarity"] = testdata["cleaned_text"].apply(lambda x :  0 if (TextBlob(x).sentiment[0])>=0 else 1)
testdata["noun_count"] = testdata["cleaned_text"].apply(lambda x : pos_check(x,"noun"))
testdata["verb_count"] = testdata["cleaned_text"].apply(lambda x : pos_check(x,"verb"))
testdata.head()

,id,tweet,cleaned_text,text_polarity,noun_count,verb_count
0,31963,#studiolife #aislife #requires #passion #dedic...,find,0,0,1
1,31964,@user #white #supremacists want everyone to s...,want everyone see new heres,0,2,2
2,31965,safe ways to heal your #acne!! #altwaystohe...,safe way heal,0,2,0
3,31966,is the hp and the cursed child book up for res...,curse child book reservation already yes,0,4,0
4,31967,"3rd #bihday to my amazing, hilarious #nephew...",rd amaze hilarious eli ahmir uncle dave love m...,0,5,0

In [359]:
testdata["text_polarity"].value_counts()

0    15155
1     2042
Name: text_polarity, dtype: int64

In [360]:
word_vectors_tfidf_test = word_tfidf.transform(testdata["cleaned_text"].values)
#word_vectors_tfidf_test = cvz.transform(testdata["cleaned_text"].values)
#ngram_tfidf_test = word_tfidf.transform(testdata["cleaned_text"].values)

meta_features = ['text_polarity','noun_count','verb_count']

feature_set1 = testdata[meta_features]

In [361]:
#r_test = hstack([word_vectors_tfidf_test],"csr")
r_test = hstack([word_vectors_tfidf_test,csr_matrix(feature_set1)],"csr")

In [362]:
r_preds = model.predict(r_test)

In [363]:
len(r_preds)

17197

In [364]:
# Creating an empty data frame
submission = pd.DataFrame()
# Assigning values to the data frame-submission_kaggle
submission['id'] = testdata.id
submission['label'] = r_preds
submission.head()

      id  label
0  31963      0
1  31964      0
2  31965      0
3  31966      0
4  31967      0

In [365]:
submission["label"].value_counts()

0    16490
1      707
Name: label, dtype: int64

In [366]:
# saving data as  final_kaggle.csv
submission.to_csv('submission.csv',index=False)